<div class="container">
  <div class="row">
    <form method="post" class="col-sm-8 col-sm-offset-2 configure-repo-form">
      <textarea name="configString" placeholder="Enter your config data as JSON here.">{{configString}}</textarea><br>
      <input type="submit" value="Save Config">
    </form>
  </div>
</div>
