<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="A flexible, simple continuous integration server for code quality.">
  <title>{{ page.metadata.title }}</title>
  <!-- Favicon stuff -->
  <link rel="apple-touch-icon" sizes="57x57" href="{{baseUrl}}/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{baseUrl}}/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{baseUrl}}/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{baseUrl}}/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{baseUrl}}/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{baseUrl}}/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{baseUrl}}/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{baseUrl}}/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{baseUrl}}/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="{{baseUrl}}/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{baseUrl}}/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="{{baseUrl}}/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{baseUrl}}/favicons/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,600|Lato:300,400,900' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="{{baseUrl}}/css/vendor/normalize.css">
  <link rel="stylesheet" href="{{baseUrl}}/css/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="{{baseUrl}}/css/vendor/bootstrap-social.css">

  <!-- Theme CSS -->
  <link rel="stylesheet" href="{{baseUrl}}/css/vendor/theme.css">

  <!-- HighlightJS CSS -->
  <link rel="stylesheet" type="text/css" href="{{baseUrl}}/css/hljs-theme-github.css">

  <!-- base CSS -->
  <link rel="stylesheet" href="{{baseUrl}}/css/base.css">

</head>
<body>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-default {{#if page.metadata.staticNavbar}}navbar-static-top{{else}}navbar-fixed-top{{/if}}">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{baseUrl}}/"><b>// Sentry</b></a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="{{baseUrl}}/about">About</a>
          </li>
          <li>
            <a href="{{baseUrl}}/quickstart">Quickstart</a>
          </li>
          <li>
            <a href="{{baseUrl}}/configuring">Configuring</a>
          </li>
          <li>
            <a href="{{baseUrl}}/plugins">Plugins</a>
          </li>
          <li class="dropdown">
              <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">API <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{baseUrl}}/sources">Sources</a></li>
                <li><a href="{{baseUrl}}/services">Services</a></li>
              </ul>
            </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="content">
  {{{body}}}
  </div>
  {{#if page.metadata.showFooter}}
    {{> footer}}
  {{/if}}
  <script src="{{baseUrl}}/js/jquery.min.js"></script>
  <script src="{{baseUrl}}/js/bootstrap.min.js"></script>
  {{{ livereloadWithHost }}}

</body>
</html>
