{{#section 'styles'}}
<link rel="stylesheet" href="/static/css/font-awesome.min.css">
<!-- Sweet Alert -->
<link rel="stylesheet" href="/static/css/sweet-alert.css">
<link rel="stylesheet" href="/static/css/dashboard.css">
{{/section}}

{{> dashboard-templates }}
<div class="container">
  <div class="row">
    <h1>Welcome {{user.username}}</h1>
    <h2>Sources:</h2>
  </div>
  <div class="row">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="text-center">
      <span class="fa fa-cog fa-spin fa-5x"></span>
      <br/>
      <span class="fa fa-5x">Loading repos...</span>
    </div>
  </div>
  </div>
</div>

{{#section 'scripts'}}
<script src="/static/js/sweet-alert.min.js"></script>
<script src="/static/js/lodash.min.js"></script>
<script src="/static/js/backbone.min.js"></script>
<script src="/static/js/marionette.min.js"></script>
<script src="/static/js/dashboard.js"></script>
{{/section}}
