<div class="row">
  <div class="twelve columns">
    <p>Hi {{authUser.username}}! Welcome to the dashboard.</p>
    <p>You are logged in. Click <a href="/logout">here</a> to log out!</p>
  </div>
</div>
