<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>Meet <b>Sentry</b></h1>
        <h2>Wherever your code is hosted, <b>Sentry</b> is ever vigilant. He'll tirelessly watch your source to help you track down bad practices.</h2>

        <div class="header-btn">
        {{#if user}}
          <a href="/dashboard" class="btn btn-lg btn-get-started">
            Dashboard
          </a>
        {{else}}
          <a href="/register" class="btn btn-lg btn-get-started">
            Get Sentry
          </a>
        {{/if}}

        </div>
      </div>
      <div class="col-md-4">
        <div class="header-img">
          <img class="img-responsive" src="/static/img/british_sentry_markmurphycreative.png" alt="Sentry at his post">
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container">
  <div class="row mt centered">
    <div class="col-lg-6">
      <h1><b>Fully Extensible</b><br/>With Customisable Services</h1>
      <div style="text-align: left;">
        <h3>Sentry watches your code for changes and passes them along to <b>services</b>. Services can be configured for one repo or all repos, giving you fine-grained control over how they're applied. You can also add <a href="/coming-soon">custom services</a> for any use case.</h3>
      </div>
    </div>
    <div class="col-lg-6">
      <h1><b>Use Any Git Source</b><br/>Track Anything, Anywhere</h1>
      <div style="text-align: left;">
        <h3>
          Sentry can pull code from many different sources using <b>source providers</b>. Github works right out of the box! If there's not a source provider for your host of choice, <a href="/coming-soon">it's easy to write your own</a>.
        </h3>
      </div>
    </div>
  </div><!-- /row -->
</div>
