<div id="headerwrap">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h1><b>Meet</b> TodoBot</h1>
				<h2>He manages your code todos by keeping track of them in your Github repo's issues.</h2>

				<div class="header-btn">
					<a href="auth/github" class="btn btn-lg btn-social btn-github">
						<i class="fa fa-github"></i> Sign in with Github
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="header-img">
					<img class="img-responsive" src="/static/img/robotocat.png" alt="">
				</div>
			</div>
			
		</div>
	</div>
</div>


<div class="container">
	<div class="row mt centered">
		<div class="col-lg-6 col-lg-offset-3">
			<h1><b>Todos</b><br/> Now Managed Magically</h1>
			<h3>TodoBot parses through your code & automatically creates issues for any todos he finds. Once he sees you removed the todo from code, he knows to close the issue.</h3>
		</div>
	</div><!-- /row -->
	
	<div class="row mt centered">
		<div class="col-xs-4 col-xs-offset-4">
			<div class="header-btn">
				<a href="auth/github" class="btn btn-lg btn-social btn-github">
					<i class="fa fa-github"></i> Sign in with Github
				</a>
			</div>
		</div>
	</div>
</div>