<div id="headerwrap">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 centered">
				<h1><b>Settings</b> for TodoBot</h1>
				<h2>Choose which repos he should help you with.</h2>
			</div>
		</div>
	</div>
</div>


<div class="container">
	<div class="row mt centered">
		<div class="col-lg-6 col-lg-offset-3">
			<h1>Your Github Repos</h1>
			<hr>
		</div>
	</div>
	
	<div class="row mt centered">

		<div class="col-sm-3 col-sm-offset-3">
			<h4>todo-test</h4>
		</div>

		<div class="col-sm-3">
			<button data-repo="todo-test" data-action="add" class="btn btn-default btn-repo"><i class="fa fa-plus"></i> Add</button>
		</div>
	</div>

	<div class="row mt centered">
		<div class="col-sm-3 col-sm-offset-3">
			<h4>dotfiles</h4>
		</div>

		<div class="col-sm-3">
			<button data-repo="dotfiles" data-action="add" class="btn btn-default btn-repo"><i class="fa fa-plus"></i> Add</button>
		</div>
	</div>

	<div class="row mt centered">
		<div class="col-sm-3 col-sm-offset-3">
			<h4>fabio-repo</h4>
		</div>

		<div class="col-sm-3">
			<button data-repo="dotfiles" data-action="remove" class="btn btn-default btn-repo"><i class="fa fa-times"></i> Remove</button>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('.btn-repo').on('click', function() {
			var repo = this.getAttribute('data-repo');
			var action = this.getAttribute('data-action');
			console.log(repo);
			console.log(action);

			if (action === 'remove') {
				swal({
					title: 'Are you sure?',
					text: 'We will remove TodoBot as a collaborator from ' + repo + ' , but all issues will stay open.',
					type: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#DD6B55',
					confirmButtonText: 'Yes, remove TodoBot',
					closeOnConfirm: false ,
					}, 
					function(){
						swal('Deleted!', 'Your imaginary file has been deleted.', 'success'); 
					});
			} else if (action === 'add') {
				$.ajax({
				  type: 'POST',
				  url: '/api/addRepo/' + repo,
				  success: function(data) {
				  	console.log(data);
				  },
				  error: function(data) {
				  	console.log(data);
				  }
				});
			}
		});
	});
</script>
