<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>// TodoBot</title>
  <!-- Favicon stuff -->
  <link rel="apple-touch-icon" sizes="57x57" href="/static/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/static/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/static/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/static/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/static/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/static/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/static/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,600|Lato:300,400,900' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/bootstrap-social.css">
  <link rel="stylesheet" href="/static/css/font-awesome.css">

  <!-- Theme CSS -->
  <link rel="stylesheet" href="/static/css/theme.css">

  <!-- Sweet Alert -->
  <link rel="stylesheet" href="/static/css/sweet-alert.css">

  <style type="text/css">
    .header-img {
      margin: 0 auto;
      display: block;
      max-width: 400px;
    }

    #headerwrap {
      padding-top: 0;
      min-height: initial;
      padding-bottom: 50px;
    }

    #headerwrap h1 {
      text-shadow: 0px 2px 2px rgba(0,0,0,0.15);
    }

    #headerwrap h2 {
      color: white;
      text-shadow: 0px 2px 2px rgba(0,0,0,0.15);
    }

    .btn-social i {
      margin: 0;
      color: white;
    }

    #headerwrap .header-btn {
      text-align: center;
      margin-top: 40px;
    }

    h4 {
      margin-top: 0;
    }

    .btn-repo {
      min-width: 100px;
    }

    .navbar-fixed-top {
      z-index: 1;
    }

    .content div.container:nth-of-type(1)  {
      padding-top: 100px;
    }

  </style>
</head>
<body>
  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><b>// TODOBOT</b></a>
      </div>
    </div>
  </div>

  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/sweet-alert.min.js"></script>

  <div class="content">
    {{{body}}}
  </div>

  <div class="container">
    <hr>
    <p class="centered">Created by <a href="http://fabiofleitas.com/">Fabio Fleitas</a> & <a href="http://www.isibner.me/">Ian Sibner</a> @ <a href="http://2015s.pennapps.com/">PennApps 2015</a></p>
  </div>

</body>
</html>
